.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 29px 82px 23px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 76px 36px 45px;
  }

  @media (min-width: $desctop-width) {
    padding: 36px 136px 36px 104px;
  }
}

.main-footer__link {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin-bottom: 34px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
