.social {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: #81b3d2;

  & svg {
    fill: #ffffff;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active svg {
    opacity: 0.3;
  }
}
